html {
  /* display: flex;
  justify-content: center; */
  text-align: center;
  font-size: 12pt;
  font-family: 'helvetica', sans-serif;
}

#menu-view article {
  background-color: #6F77ED;
  color: white;
  border: 5pt solid black;
  border-radius: 0.35em;
  /* padding-bottom: 20px; */
}

h2 {
  font-size: 16pt;
  text-decoration: underline;
}

button, #menu-view>article>select {
  background-color: white;
  border: 2pt solid black;
}

button {
  padding: 8px;
  font-size: 12pt;
  margin-top: 10px;
  margin-bottom: 10px;
}

#start {
  width: 100px;
  margin-bottom: 20px;
}

#menu-view {
  /* This is only to work with the Game view, eventually you will delete this and it will be run using JS */
  /* display: none; */
}

.hidden {
  display: none;
}

#details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
  background-color: black;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  font-size: 14pt;
}

#game {
  border: 5pt solid black;
  padding: 20px;
  border-top: 0pt;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 220px;
  height: 95px;
  display: flex;
  justify-content: space-evenly;
  border: 0.35em solid black;
  border-radius: 1em;
}

.card>img{
  height: 85%;
  /* display: flex; */
  margin:auto;
}

.card:hover {
  cursor: pointer;

  /* Move this to where it changes when you click on it */

}

.card:active, .selected{
  box-shadow: 6px 6px #636363;
}
